<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://localhost/estudo/login-rc/assets/css/style_login.css">

 </head>
<body>
	<header>
		<div class="content_area">
			Bem vindo {{name_user}}, 

			<a href="http://localhost/estudo/login-rc/dashboard/logout">Sair</a>
		</div>
		
	</header>

	<section class="box_dashboard">
		<div class="content_area">
			<h1>DASHBOARD</h1>
		</div>
	</section>

	
</body>
</html>